body {
    background-color: lightblue;
}

h1 { font-family: verdana;
    color: white;
    text-align: center;
	font-size:25pt;
}
#det{

font-size: 25px;
text-align:center;

}

p { 

color:#f0fbff;
    font-family: verdana;
    font-size: 18pt;
	padding : 20px;
	margin: 0px 55px 0px 0px;
	text-align: center;
	overflow: auto;
	
}
#STRANGE{margin: 0px 55px 10px 10px;}
ol { color:#f0fbff;
font-family: verdana;
    font-size: 20px;
	padding:20px;
	margin: 10px 0px 20px 20px;
	
	
}


li.ordered {

padding:30px;
margin: 0px 10px 0px 0px;
}

ul{ 
color:grey;
font-family: verdana;
    font-size: 20px;
	margin: 10px 10px 150px 150px;
	
}

img{

float:left;
width:200;height:300;
margin: 10px 10px 10px 10px;
padding:10px;}

#profile {float:right;
width:120px;height:120px;
margin: 0px 0px 0px 0px;
padding:0px;}

button{margin:0px 0px 600px 600px;
border:0;
background-color: #555555;
text-align: center;}
